﻿:root {
    --working-color: #ffdddd;
    --margin-horizontal: 40px;
    --col-1-width: calc((100vw - var(--margin-horizontal) * 2) / 8);
    --col-1-min-width: 90px;
    --input-type-text-width-adjust: 8px;
    --textarea-width-adjust: 6px;
    --row-height: 34px;
    --error-text-color: #ee0808;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14pt;
    margin: 0 var(--margin-horizontal);
}

a:visited {
    color: #0000ee;
}

a:active {
    color: #000077
}

header {
    margin: 20px 0 16px 0;
    /* background: #ffdddd; */
}

.titleArea {
    /* background: pink; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 16px;
}

.titleArea h1, .titleArea h3 {
    background-color: transparent;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

.menu {
    /* background: var(--working-color); */
    display: flex;
    justify-content: flex-start;
    font-size: 1.3em;
}

.menu li {
    align-self: center;
    list-style: none;
    margin: 8px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li.rightMenuItemAligner {
    margin-left: auto;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    
}

header {
    margin-bottom: 60px;
}

fieldset {
    width: fit-content;
    padding: 40px;
    margin: auto;
}

legend {
    padding: 0 10px;
    margin: 0 auto;
}

form {
    width: fit-content;
    margin-top: -14px;
}

form.inline {
    margin-top: 0;
    width: 100%;
    display: flex;
}

form.share-project {
    margin: 0 auto;
}

form.top-form {
    margin-bottom: 14px;
}

.grid {
    display: flex;
    max-width: fit-content;
    flex-flow: column nowrap;
}

.grid.data-list {
    max-width: unset;
}

.row {
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
    height: var(--row-height);
    /* padding: 0.5px; */
    /* background-color: aquamarine; */
}

.data-list .row {
    padding: 4px 8px;
    min-height: var(--row-height);
    height: unset;
}

.row.multi-select-list-container {
    height: unset;
}

.data-list .row:nth-child(2n + 2) {
    background-color: #f8f8f8;
}

.data-list .row:nth-child(2n + 3) {
    background-color: #f0f0f0;
}

.data-list .row.back-btn-container {
    margin: 10px 0;
    padding-left: 4px;
    background-color: unset;
}

.col-1 {
    /* display: inline-block; */
    width: var(--col-1-width);
    min-width: var(--col-1-min-width);
    align-self: center;
}

.col-2 {
    /* display: inline-block; */
    width: calc(var(--col-1-width) * 2);
    min-width: calc(var(--col-1-min-width) * 2);
    align-self: center;
}

.col-3 {
    /* display: inline-block; */
    width: calc(var(--col-1-width) * 3);
    min-width: calc(var(--col-1-min-width) * 3);
    align-self: center;
}

.col-4 {
    /* display: inline-block; */
    width: calc(var(--col-1-width) * 4);
    min-width: calc(var(--col-1-min-width) * 4);
    align-self: center;
}

.col-1 > input,
.col-2 > input,
.col-3 > input,
.col-4 > input {
    height: calc(var(--row-height) - 6px);
    width: 100%;
}

.textarea-container {
    height: unset;
}

.textarea-container :first-child {
    align-self: baseline;
}

.col-1 > textarea,
.col-2 > textarea,
.col-3 > textarea,
.col-4 > textarea {
    height: calc((var(--row-height) - 6px) * 5);
    width: calc(100% - var(--textarea-width-adjust));
}

input[type=text], input[type=password] {
    width: calc(100% - var(--input-type-text-width-adjust));
    font-size: 1.1em;
    line-height: var(--row-height);
    padding-left: 4px;
}

textarea {
    width: calc(100% - var(--input-type-text-width-adjust));
    font-size: 1.1em;
    line-height: var(--row-height);
    padding-left: 4px;
    font-family: sans-serif;
}

.col-1 > select,
.col-2 > select,
.col-3 > select,
.col-4 > select {
    height: var(--row-height);
    width: 100%;
    font-size: 1.1em;
    padding: 2px 0;
    padding-left: 4px;
}

.col-1 > select[multiple],
.col-2 > select[multiple],
.col-3 > select[multiple],
.col-4 > select[multiple] {
    height: calc(var(--row-height) * 5);
    width: 100%;
    font-size: 1.1em;
    padding: 0;
}

option {
    line-height: 100%;
    /* font-size: 12px; */
    min-height: var(--row-height);
    max-height: var(--row-height);
    padding: auto 4px;
    padding-left: 4px;
}

input[type=submit], button {
    height: 34px;
}

.col-1 > button,
.col-2 > button,
.col-3 > button,
.col-4 > button {
    width: 100%;
}

.row .from-back-btn-container button {
    width: calc(100% - 10px);
}

.field-validation-message-container {
    width: 100%;
    text-align: right;
    font-size: 0.8em;
    color: var(--error-text-color);
    margin-top: 2px;
}

.form-validation-message-container {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 0.8em;
    color: var(--error-text-color);
    margin: 4px 0 !important;
}

.bottom-actions-contaier {
    margin-bottom: -10px !important;
}

/*Form only*/
form .row {
    width: fit-content;
    margin: 10px 0;
    flex-wrap: wrap;
}

.multiple-links-container > a {
    margin: 0 10px;
}

.multiple-links-container > a:first-child {
    margin-left: 0;
}