﻿@using ProjectManagement.Utilities;
@model ProjectManagement.ViewModels.Projects.IndexViewModel
@{ 
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "Projects";
    var loggedUser = Miscellaneous.GetLoggedUser(ViewContext.HttpContext.Session)!;
}
<p><a href="/Projects/Create">New...</a></p>

<div class="grid data-list">
    <div class="row">
        <div class="col-1">Title: </div>
        <div class="col-2">Description:</div>
        <div class="col-1">Owner:</div>
        <div class="col-2"></div>
    </div>

    @if (@Model is not null && @Model.Projects is not null)
    {
        foreach (var projectModel in @Model.Projects)
        {
            <div class="row">
                <div class="col-1">@projectModel.Title</div>
                <div class="col-2">@projectModel.Description</div>
                <div class="col-1">@projectModel.OwnerUsername</div>
                <div class="col-2 multiple-links-container">
                    <a href="/Tasks/Index?projectId=@projectModel.Id">Manage tasks</a>
                    @if (projectModel.OwnerUsername == loggedUser.Username)
                    {
                        <a href="/Projects/Edit?projectId=@projectModel.Id">Edit</a>
                        <a href="/Projects/Share?projectId=@projectModel.Id">Share</a>
                        <a href="/Projects/Delete?projectId=@projectModel.Id"
                           onclick="return confirm('Are you sure?');">Detete</a>
                    }
                </div>
            </div>
        }
    }
</div>