﻿@using Common.Entities
@using ProjectManagement.Extensions
@using ProjectManagement.Utilities
@using ProjectManagement.ViewModels.Projects
@model ProjectManagement.ViewModels.Projects.ShareViewModel
@{ 
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "Share a project";
    var loggedUser = Miscellaneous.GetLoggedUser(ViewContext.HttpContext.Session)!;
}
<h2>@Model.ProjectName</h2>

<form action="/Projects/Share" method="post" class="share-project top-form">
    @Html.HiddenFor(m => m.ProjectId)
    <div class="grid">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.UserIdsToShareWith)
            </div>
        </div>
        <div class="row multi-select-list-container">
            <div class="col-2">
                @Html.ListBoxFor(m => m.UserIdsToShareWith, new MultiSelectList(
                    Model.Users,
                    nameof(ShareProjectUserViewModel.Id),
                    nameof(ShareProjectUserViewModel.Username)
                ), new { multiple = "multiple" })
                
                @*@Html.DropDownListFor(m => m.UserIdsToShareWith, new MultiSelectList(
                    Model.Users,
                    nameof(ShareProjectUserViewModel.Id),
                    nameof(ShareProjectUserViewModel.Username)
                ))*@
            </div>
            <div class="col-2 field-validation-message-container">
                @Html.ValidationMessageFor(m => m.UserIdsToShareWith)
            </div>
        </div>
        <div class="row form-validation-message-container">
            <div class="col-2">
                @Html.ValidationMessage(Constants.PROJECT_SHARING_ERROR_STRING_KEY)
            </div>
        </div>
        <div class="row">
            <div class="col-1 from-back-btn-container">
                <button type="button" onclick="navigateTo('/Projects/Index')">Back</button>
            </div>
            <div class="col-1">
                <input type="submit" value="Share" />
            </div>
        </div>
    </div>
</form>

<div class="grid data-list">
    <div class="row">
        <div class="col-1">Username: </div>
        <div class="col-3">First name:</div>
        <div class="col-1">Last name:</div>
        <div class="col-2"></div>
    </div>

    @if (@Model is not null && @Model.SharedUsers is not null)
    {
        foreach (var userModel in @Model.SharedUsers)
        {
            <div class="row">
                <div class="col-1">@userModel.Username</div>
                <div class="col-3">@userModel.FirstName</div>
                <div class="col-1">@userModel.LastName</div>
                <div class="col-2 multiple-links-container">
                    <a href="/Projects/RevokeShare?projectId=@userModel.Id"
                       onclick="return confirm('Revoke share?');">Revoke</a>
                </div>
            </div>
        }
    }
</div>