﻿@using ProjectManagement.Utilities
@model ProjectManagement.ViewModels.Home.LoginViewModel
@{ 
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "Login";
}
<fieldset>
    <legend>@ViewData["title"]</legend>
    <form action="/Home/Login" method="post">
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Username)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Username)
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="col-2">
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row form-validation-message-container">
                <div class="col-3">
                    @Html.ValidationMessage(Constants.AUTHENTICATION_ERROR_STRING_KEY)
                </div>
            </div>
            <div class="row bottom-actions-contaier">
                <div class="col-3">
                    <input type="submit" value="Login" />
                </div>
            </div>
        </div>
    </form>
</fieldset>