﻿@using Common.Entities
@using ProjectManagement.Extensions
@using ProjectManagement.Utilities
@{
    var loggedUser = Miscellaneous.GetLoggedUser(ViewContext.HttpContext.Session);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"] - Project Management System</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/live.js"></script>
    <script src="/js/backButtonScript.js" defer></script>
</head>
<body>
    <header>
        <div class="titleArea">
            <h1 class="title">Project Management System</h1>
            <!--TODO: display only when logged in?-->
            <h3 class="greeting">Hello,
                @if (loggedUser is null) {
                    @("Annonymous")
                }
                else
                {
                    @(loggedUser.Username)
                }
            </h3>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="/Home/Index">Home</a></li>
                @if (loggedUser is not null)
                {
                    <li><a href="/Users/Index">Users</a></li>
                    <li><a href="/Projects/Index">Projects</a></li>
                }
                <li class="rightMenuItemAligner"></li>
                
                @if (loggedUser is not null)
                {
                    <li><a href="/Home/Logout">Logout</a></li>
                }
                else
                {
                    <li><a href="/Home/Login">Login</a></li>
                }
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
