﻿@using ProjectManagement.Utilities
@model ProjectManagement.ViewModels.Users.EditViewModel
@{ 
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = $"Edit user \"{Model.DbUsername}\"";
}
<fieldset>
    <legend>@ViewData["title"]</legend>
    <form action="/Users/Edit" method="post">
        @Html.HiddenFor(m => m.DbUsername)
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Username)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Username)
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="col-2">
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.FirstName)
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.LastName)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.LastName)
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="row form-validation-message-container">
                <div class="col-3">
                    @Html.ValidationMessage(Constants.USER_EDITING_ERROR_STRING_KEY)
                </div>
            </div>
            <div class="row bottom-actions-contaier">
                <div class="col-1 from-back-btn-container">
                    <button type="button" onclick="navigateTo('/Users/Index')">Back</button>
                </div>
                <div class="col-2">
                    <input type="submit" value="Save" />
                </div>
            </div>
        </div>
    </form>
</fieldset>