﻿@using Common.Entities
@using ProjectManagement.Extensions
@using ProjectManagement.Utilities
@model ProjectManagement.ViewModels.Users.IndexViewModel
@{ 
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "Users";
}
<p><a href="/Users/Create">New...</a></p>

<div class="grid data-list">
    <div class="row">
        <div class="col-1">Username: </div>
        <div class="col-2">First name:</div>
        <div class="col-2">Last name:</div>
        <div class="col-2"></div>
    </div>

    @if (@Model is not null && @Model.Users is not null)
    {
        var currentUser = Html.ViewContext.HttpContext.Session.GetObject<User>(Constants.LOGGED_USER_SESSION_KEY)!;

        foreach (var userModel in @Model.Users)
        {
            <div class="row">
                <div class="col-1">@userModel.Username</div>
                <div class="col-2">@userModel.FirstName</div>
                <div class="col-2">@userModel.LastName</div>
                <div class="col-1 multiple-links-container">
                    <a href="/Users/Edit?userId=@userModel.Id">Edit</a>
                    @if (currentUser.Username != userModel.Username)
                    {
                        <a href="/Users/Delete?userId=@userModel.Id"
                           onclick="return confirm('Are you sure?');">Detete</a>
                    }
                </div>
            </div>
        }
    }
</div>