﻿@using Common.Entities
@using ProjectManagement.Extensions
@using ProjectManagement.Utilities
@using ProjectManagement.ViewModels.Tasks
@model ProjectManagement.ViewModels.Tasks.CreateViewModel
@{
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = $"Create a task for \"{Model!.ProjectTitle}\"";
    var loggedUser = Miscellaneous.GetLoggedUser(ViewContext.HttpContext.Session)!;
}
<fieldset>
    <legend>@ViewData["title"]</legend>
    <form action="/Tasks/Create" method="post">
        @Html.HiddenFor(m => m.ProjectId)
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Title)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Title)
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="row textarea-container">
                <div class="col-1">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="col-2">
                    @Html.TextAreaFor(m => m.Description)
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.AssigneeId)
                </div>
                <div class="col-2">
                    @Html.DropDownListFor(m => m.AssigneeId, new SelectList(
                        Model.Users,
                        nameof(CreateTaskUserViewModel.Id),
                        nameof(CreateTaskUserViewModel.Username),
                        selectedValue: Model.Users.First(uvm => uvm.Id == loggedUser.Id)
                    ))
                </div>
                <div class="field-validation-message-container">
                    @Html.ValidationMessageFor(m => m.AssigneeId)
                </div>
            </div>
            <div class="row form-validation-message-container">
                <div class="col-3">
                    @Html.ValidationMessage(Constants.PROJECT_CREATION_ERROR_STRING_KEY)
                </div>
            </div>
            <div class="row bottom-actions-contaier">
                <div class="col-1 from-back-btn-container">
                    <button type="button" onclick="navigateTo('/Tasks/Index?projectId=@Model.ProjectId')">Back</button>
                </div>
                <div class="col-2">
                    <input type="submit" value="Create" />
                </div>
            </div>
        </div>
    </form>
</fieldset>