﻿@model ProjectManagement.ViewModels.Tasks.IndexViewModel
@{ 
    Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "Tasks for " + Model.ProjectName;
}
<h2>@Model.ProjectName</h2>
<p><a href="/Tasks/Create?projectId=@Model.ProjectId">New...</a></p>

<div class="grid data-list">
    <div class="row">
        <div class="col-1">Title: </div>
        <div class="col-2">Description:</div>
        <div class="col-1">Assigned to:</div>
        <div class="col-2"></div>
    </div>

    @if (@Model is not null && @Model.Tasks is not null)
    {
        foreach (var taskModel in @Model.Tasks)
        {
            <div class="row">
                <div class="col-1">@taskModel.Title</div>
                <div class="col-2">@taskModel.Description</div>
                <div class="col-1">@taskModel.AssigneeUsername</div>
                <div class="col-2 multiple-links-container">
                    <a href="/Tasks/Edit?taskId=@taskModel.Id">Edit</a>
                    <a href="/Tasks/Delete?taskId=@taskModel.Id"
                       onclick="return confirm('Are you sure?');">Detete</a>
                </div>
            </div>
        }
    }
    <div class="row back-btn-container">
        <div class="col-1">
            <button type="button" onclick="navigateTo('/Projects/Index')">Back</button>
        </div>
    </div>
</div>
    